.img1 {
    max-width: 50%;
    height: 50%;
    z-index: 5;
}
.text_qui_somme{
    font-size: 2.6rem;
    margin-top: 3rem;
    margin-bottom: -10rem;
}
.section_lets{
    padding:2rem 12%;
}
.section_lets1{
    padding:2rem 9%;
}
.end{
    text-align: end;
}