.maine{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    position: relative;
    width: 1280px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container .cards{
    position: relative;
    width: 300px;
    height:400px ;
    background: linear-gradient(#529BCD,#529BCD 30% ,#123456 30%, #123456);
    margin: 10px;
    border-radius: 20px ;
    overflow: hidden;
}
.container .cards .imgbox{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: 100;
    border-radius: 20px ; 
    overflow: hidden;
    transform-origin: top;
}
.container .cards:hover .imgbox{
    transform: translateY(30px) scale(0.5);
}
.container .cards .imgbox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container .cards .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: flex-end;
    padding-bottom: 30px;
    transform: translateY(100%);
    transition: 1s;
}
.container .cards .content{
    transform: translateY(0);
}
.container .cards .content .details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.container .cards .content .details h3{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
}
.container .cards .content .details h3 span{
    font-size: 1.3rem;
    font-weight: 400;
    color: #529BCD;
}
.social_icones{
    position: relative;
    display: flex;
    margin-top: 5px;
}
.social_icones li {
    list-style: none;
    margin: 4px;
}
.social_icones li a{
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #294d69;
    border-radius: 50%;
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    transition: 1s;
    margin-bottom: 20px;
}
.social_icones li a:hover{
    transform: rotate(360deg);
    background-color: #03a9f4;
}