.logo-site{
    height: 40px;
}
.eren{
    display: flex;
}
.eren2{
    height: 150px;
}
.info{
    background-color: #fff;
    color: #000;
    padding: 6px 1rem;
    border-radius: 20px;
    letter-spacing: 0.1rem;
    
}