.logo-site{
    height: 40px;
}
.eren{
    display: flex;
}
.eren2{
    height: 150px;
}
.info{
    background-color: #fff;
    color: #000;
    padding: 6px 1rem;
    border-radius: 20px;
    letter-spacing: 0.1rem;
    
}
.info:hover{
    background-color: #000;
    color: #fff;
}
.imghome{
    background-image: url('../../../Public/img/image-9.webp');
    background-repeat: no-repeat;
    background-position: right;
    margin: 0 3rem;
    
}

@media (max-width:450px){
    .imghome{
    background-image: url('../../../Public/img/image-9mobile.webp');
    background-repeat: no-repeat;
    background-position: right;
    margin: 0  3rem;
    }
}