.erroe404{
    color: #000;
    margin:5rem 0;
    margin-top: 20rem;
    font-size: 5rem;
}
.errore404__research {
    padding: 80px;
    background-color: #123456;
}
.errore404__entrer {
    margin-top: 4vh;
    margin-bottom: 4vh;
    background-color: #fff;
    color: black;
}
.errore404__requete {
    color: #fff;
    font-weight: bold;
    font-style: normal;
    font-size: 2rem;
    text-shadow: black 1px 0 10px;
}
.errore404__button {
    font-size: 1rem;
    color: white;
    background-color: #123456;
    padding: 2vh 3vh;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    margin-left: 35px;
}
.cen{
    margin: 3rem 0;
}
